<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1: April 13, 2026</h3>
    <table class="table table-striped">
      <tr>
        <td>Before</td>
        <td><a href="https://forms.gle/ysuz5tbugJNNGXmu8" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr> 
        <td>09:00</td>  <td>Start – Introduction to the workshop, instructors, helpers, and code of conduct</td> 
      </tr>
      <tr> 
        <td>09:30</td>  <td>Introduction to RNA-seq Principles</td> 
      </tr>
      <tr> 
        <td>10:30</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:45</td>  <td>Introduction to bulk RNA-seq analysis workflow</td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Break</td>
      </tr>
      <tr> 
        <td>12:15</td>  <td>Loading and Exploring Count Data</td>
      </tr>
      <tr> 
        <td>13:00</td>  <td>Finish day one</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2: April 14, 2026</h3>
    <table class="table table-striped">
     <tr>
       <td>09:00</td>  <td>Differential Expression Analysis (I): Concepts and Setup</td>
      </tr>
      <tr> 
        <td>10:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:15</td>  <td>Normalization and Quality Control</td> 
      </tr>
      <tr> 
        <td>11:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>11:15</td>  <td>Running Differential Expression Tests</td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>12:15</td>  <td>Visualization of Results (MA plots, Volcano plots, Heatmaps)</td> 
      </tr>
      <tr> 
        <td>13:00</td>  <td>Finish day two</td> 
      </tr>
     </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3: April 20, 2026</h3>
    <table class="table table-striped">
     <tr>
       <td>09:00</td>  <td>Differential Expression Analysis (II): Interpreting and Exporting Result</td>
      </tr>
      <tr> 
        <td>10:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:15</td>  <td>Advanced differential expression tests (LRT)</td> 
      </tr>
      <tr> 
        <td>11:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>11:15</td>  <td>Introduction to Functional Enrichment Analyis</td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>12:15</td>  <td>Gene Ontology (GO) Enrichment Analysis</td> 
      </tr>
      <tr>  
        <td>13:00</td>  <td>Finish day three</td>
      </tr>
     </table>
</div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4: April 21, 2026</h3>
    <table class="table table-striped">
     <tr>
       <td>09:00</td>  <td>Introduction to Functional Enrichment Analyis (continued) </td>
      </tr>
      <tr> 
        <td>09:45</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:00</td>  <td>Pathway Analysis with KEGG and Reactome</td> 
      </tr>
      <tr> 
        <td>10:45</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>11:00</td>  <td>Gene Set Enrichment Analysis (GSEA)</td>
      </tr>
      <tr> 
        <td>11:45</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Visualization of Enrichment Results (dotplots, networks, enrichment maps)</td> 
      </tr>
      <tr> 
         <td>13:00</td>  <td>Finish day four</td> 
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="https://forms.gle/aMHTX7NqYFcgzGAx5" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
